<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>指令与事件示例:v-on</title>
    <!-- 引入CDN -->
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  </head>
  <body>
    <!--
      在普通元素上，可以通过v-on监听原生DOM事件
      如下，通过v-on:click，给button元素上绑定了一个点击事件监听
      除了click外，像dblclick、keyup及mousemove等事件均可配合使用

      表达式后可以是一个方法名
      具体方法一般以函数形式，写在Vue实例的methods属性内
      函数内的this指向当前Vue实例本身
      因此可以直接使用 this.xxx 的形式来访问或修改Vue实例上的数据

      <div id="app">
        <p v-if="show">一段文本</p>
        <button v-on:click="handleClose">click me!</button>
      </div>
    

      <script>
        var app = new Vue({
          el: "#app",
          data: {
            show: true,
          },
          methods: {
            handleClose: function () {
              this.show = !this.show;
            },
          },
        });
      </script>
    -->

    <!--
      表达式除了接方法名，也可以直接写一个内联语句
    
      <div id="app">
        <p v-if="show">一段文本</p>
        <button v-on:click="show = !show">click me!</button>
      </div>

      <script>
        var app = new Vue({
          el: "#app",
          data: {
            show: true,
          },
        });
      </script>
    -->

    <!--
      当绑定的事件需要处理复杂业务逻辑时
      实际开发中一般还是在methods中声明方法
      提高可读性与可维护性

      methods里的方法如同data数据一样，也被Vue代理
      所以可以像访问Vue数据一样来调用方法
    -->
    <div id="app">
      <p v-if="show">一段文本</p>
      <button v-on:click="handleClose">click me!</button>
      <button onclick="initTest()">init test</button>
      <!-- <button onclick="console.log(1)">init test</button> -->
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          show: true,
        },

        methods: {
          init: function (text) {
            console.log(text);
          },
          handleClose: function () {
            this.changeClose();
          },
          changeClose: function () {
            this.show = !this.show;
          },
        },

        mounted: function () {
          // 在初始化时进行方法调用
          this.init("初始化时调用");
        },
      });

      // 在Vue实例外部调用
      // app.init("外部调用");
      initTest = function () {
        app.init("test外部函数调用");
      };
    </script>
  </body>
</html>
